@charset "utf-8";
.container-fluid {
  background-color: #E8E8E8;
}
/*bordes guias*/
/*div {
  border-style: solid;
	border-color: royalblue;
}
p {
  border-style: solid;
	border-color: brown;
}*/