@charset "utf-8";

div
{
/*border-style: solid;
	border-color: blue;
	border-width: 3px;*/
}

#principal{
 background-image: linear-gradient(180deg, #00ffff 0, #00ecff 25%, #10bcf8 50%, #318ebd 75%, #346788 100%);
	  background-repeat: no-repeat;
  background-size: auto;
}
.container{
	
  background-color:white;
}

#seccion2{
	border-radius: 15px 15px 15px 15px;
}

p{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: x-large;
    font-weight: 500;
    
}
